@import "iconfont.css";
@import "animate.min.css";

/*-----------------------------------------------------------------------------------*/
/* GENERAL
/*-----------------------------------------------------------------------------------*/
@font-face {
   font-family: "IRANSansWeb";
   src: url("../fonts/IRANSansWeb_Medium.ttf") format("truetype");
    
}

body{
	text-align: center;
	font-family: 'IRANSansWeb';
	/*background: url('../img/bg.png') top; 
	background-repeat:no-repeat;
	background-position:fixed;
	background-attachment:fixed;
	background-size: 100% 100%;*/
	background-color: white;
	background-image: url("../img/bg.png");
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size: 80%;
	background-position: center;
	vertical-align:middle;
}

#body-fa
{
	direction: rtl;
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
	color: black;
	font-weight: 700;
	font-family: 'IRANSansWeb';
}

p{
	font-size: 1.2em;
}

.lead{
	font-weight: 300;
}

button {
	display: inline-block;
	margin-bottom: 0;
	margin-bottom: 10px;
	padding: 6px 12px;
	border: 1px solid transparent;
	border-radius: 4px;
	border-radius: 5px;
	vertical-align: middle;
	text-align: center;
	white-space: nowrap;
	font-weight: normal;
	font-size: 14px;
	line-height: 1.428571429;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

/*-----------------------------------------------------------------------------------*/
/*	KEY COLOR
/*-----------------------------------------------------------------------------------*/

/*---- Typography ----*/
header h1, a:hover{
	color: black;
	text-shadow: 3px 3px 20px #0a2c85;
}

/*-----------------------------------------------------------------------------------*/
/* HEADER 
/*-----------------------------------------------------------------------------------*/

header{
	padding: 5% 0px 5% 0px;
	color: white;
}

.clock
{
	text-shadow: 3px 3px 10px #0a2c85;
	color: black;
	
}

.clock-fa{
	direction: rtl;
}

.clock-en{
	direction: ltr;
}

.footer
{
	font-size: 20px;
	text-shadow: 3px 3px 10px #0a2c85;
		color: black;
}

/*-----------------------------------------------------------------------------------*/
/* SPINNER
/*-----------------------------------------------------------------------------------*/
.spn_hol {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    z-index: 50000;
    opacity: 1;
     -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.spinner {
    position: absolute;
    top: 50%;
    margin-top: -12px;
    left: 50%;
    margin-left: -35px;
    height: 24px;
    width: 70px;
    text-align: center;
    display: block;
}
.spinner > div {
    width: 18px;
    height: 18px;
    background-color: #FE3F5B;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
    animation: bouncedelay 1.4s infinite ease-in-out;
    /* Prevent first frame from flickering when animation starts */
    
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
@-webkit-keyframes bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0.0)
    }
    40% {
        -webkit-transform: scale(1.0)
    }
}
@keyframes bouncedelay {
    0%, 80%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    40% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

.adx_images {
    max-width: 100%;
    height: auto;
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #c2c2c2;
    border-radius: .25rem;
    box-shadow: 0 1px 2px rgba(0,0,0,.075);
}

img.absolute {
    position: absolute;
    bottom: 10px;
    text-align: center;
}

#major {
    text-decoration: underline;
}